<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics />
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="NewStandardEndpoint0" maxBufferSize="2147483647"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </webHttpEndpoint>
    </standardEndpoints>
    <client>
      <endpoint address="http://localhost:8733/AwesomeService/Service/"
        binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_Client"
        contract="AwesomeService.IService" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding" openTimeout="10:01:00" receiveTimeout="10:10:00"
          sendTimeout="10:01:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" transferMode="Buffered"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
        </binding>
        <binding name="basicHttpBinding_Client" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsHttpBinding" openTimeout="10:01:00" receiveTimeout="10:10:00"
          sendTimeout="10:01:00" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="AwesomeService.Service">
        <endpoint address="" behaviorConfiguration="" binding="basicHttpBinding"
          bindingConfiguration="basicHttpBinding" contract="AwesomeService.IService"
          isSystemEndpoint="false">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" behaviorConfiguration=""
          binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange"
          isSystemEndpoint="false" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/AwesomeService/Service/" />
          </baseAddresses>
          <timeouts closeTimeout="00:10:00" openTimeout="00:10:00" />
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>