<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
  </configSections>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <connectionStrings>
    <add name="DatabaseContext" connectionString="metadata=res://*/DatabaseModel.csdl|res://*/DatabaseModel.ssdl|res://*/DatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gladiolus.arvixe.com;initial catalog=groupAwesomeDb_tmp;persist security info=True;user id=groupAwesome_tmp;password=qwe123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="AwesomeServer.Properties.Settings.groupAwesomeDb_tmpConnectionString"
      connectionString="Data Source=gladiolus.arvixe.com;Initial Catalog=groupAwesomeDb_tmp;Persist Security Info=True;User ID=groupAwesome_tmp;Password=qwe123"
      providerName="System.Data.SqlClient" />
    <add name="AwesomeServer.Properties.Settings.groupAwesomeDb_tmpConnectionString1"
      connectionString="Data Source=gladiolus.arvixe.com;Initial Catalog=groupAwesomeDb_tmp;Persist Security Info=True;User ID=groupAwesome_tmp"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>