<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8733/AwesomeService/Service/"
        binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
        contract="AwesomeService.IService" name="MyClientConfig" kind=""
        endpointConfiguration=""/>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding" maxBufferSize="13100072" maxReceivedMessageSize="13100072" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="AwesomeService.Service">
        <endpoint address="" binding="basicHttpBinding" contract="AwesomeService.IService"
          isSystemEndpoint="false">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          contract="IMetadataExchange" isSystemEndpoint="false" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/AwesomeService/Service/" />
          </baseAddresses>
          <timeouts closeTimeout="00:10:00" openTimeout="00:10:00" />
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="myHttpEndPointBehaviour">
          <dataContractSerializer />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>